{% extends "layout.html" %}

{% block title %}
    Created or Joined Event
{% endblock %}

{% block main %}

<script>
    document.addEventListener('DOMContentLoaded', function() {
        let first_button = document.querySelector('#first_button');
        let second_button = document.querySelector('#second_button');
        let button = document.querySelectorAll('.col');
        first_button.addEventListener('click', function(event) {
            for (let i = 0; i < button.length; i++) {
                if (button[i].innerHTML != '0') {
                        button[i].style.backgroundColor = '#00cc00';
                }
                event.preventDefault();
            }
        })
        second_button.addEventListener('click', function(event) {
            for (let i = 0; i < button.length; i++) {
                if (button[i].innerHTML == {{joined_users_num}}) {
                        button[i].style.backgroundColor = '#008000';
                }
                event.preventDefault();
            }
        })
    })
</script>

<div class="availCard">
        <div class="heading"><h1>{{event_name}}</h1></div>
        <h3>Event Code: {{event_id}}</h3>
</div>
    <div class="availCard">
        <div class="heading"><h2>Group's Availability</h2></div>
        <div class="row">
        <div class="col-sm"></div>
        {% for day in event_dates %}
            <div class="col-sm">{{ day['date'] }}</div>
        {% endfor %}
        <div class="w-100"></div>

        {% for j in range(time_diff) %}
            {% if start_time + j > 12 %}
                    <div class="col-sm" class = "timeSlot">{{ (start_time + j)%12 }} PM</div>
                {% elif start_time + j == 12 %}
                    <div class="col-sm" class = "timeSlot">{{ (start_time + j) }} PM</div>
                {% else %}
                    <div class="col-sm" class = "timeSlot">{{ start_time + j }} AM</div>
                {% endif %}
            {% for day in event_dates %}
                {% set vars = {'n': False} %}
                {% for row in availability %}
                    {% if row['date_hour'] == day['date'] ~ ',' ~ (start_time + j) %}
                        <button onload = "test()" class="col" value="{{ day['date'] }},{{ start_time + j }}">{{ row['num_available'] }}</button>
                        {% if vars.update({'n': True}) %} {% endif %}
                    {% endif %}
                {% endfor %}
                {% if vars.n == False %}
                    <button class="col" value="{{ day['date'] }},{{ start_time + j }}">0</button>
                {% endif %}
            {% endfor %}
            <div class="w-100"></div>
        {% endfor %}
        </div>

    <p></p>
    <div class="container">
        <div class = "heading"><h2>Group's Location Availability</h2></div>
        <div class="row">
            {% for loc in event_locations %}
                <div class="col-sm">{{loc['location']}}</div>
                {% set vars = {'n': False} %}
                {% for row in loc_availability %}
                        {% if row['location'] == loc['location'] %}
                            <button class="col" value="{{ loc['location'] }}">{{ row['num_available'] }}</button>
                            {% if vars.update({'n': True}) %} {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% if vars.n == False %}
                        <button class="col" value="{{ loc['location'] }}">0</button>
                    {% endif %}
                {% endfor %}
                <div class="w-100"></div>
        </div>
    </div>
    <div class="container">
    <p></p>
    <button id="first_button" style="width: 280px; margin-top: 40px;">When/Where Some Are Available</button>
    <button id="second_button" style="width: 280px; margin-top: 40px;">When/Where All Are Available</button>
    <br>
    <p style="margin-top: 40px;">Number of people who have joined this event: {{joined_users_num}}</p>

    <p style="margin: 0px;">Accounts who have joined this event:</p>
    {% for user in joined_users %}
            <p style="margin: 0px;">{{user['username']}}</p>
    {% endfor %}

</div>
{% endblock %}