{% extends "layout.html" %}

{% block title %}
    Join
{% endblock %}

{% block main %}
<div class = "availCard">
    <div class = "heading"><h2>Join Event</h2></div>
    <br><h3>Enter code below:</h3>
    <form action="/join" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="code" placeholder="Code" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
</div>
{% endblock %}