<!--- HTML where user logs in and makes schedule -->
{% extends "layout.html" %}

{% block title %}
    Schedule
{% endblock %}


{% block main %}

<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        let times = document.querySelectorAll('.col');
        for (let i = 0; i < times.length; i++) {
            times[i].addEventListener('click', function() {
                if (times[i].style.backgroundColor == 'green') {
                    times[i].style.backgroundColor = '#ffdede';
                }
                else {
                    times[i].style.backgroundColor = 'Green';
                }
            })
        }
    })
</script>


    <div class="availCard">
        <div class = "heading"><h2>Your Availability</h2></div>
        <div class="row">
        <div class="col-sm"></div>
        {% for day in event_dates %}
            <div class="col-sm">{{ day['date'] }}</div>
        {% endfor %}
        <div class="w-100"></div>

        {% for j in range(time_diff) %}
            {% if start_time + j > 12 %}
                <div class="col-sm" class = "timeSlot">{{ (start_time + j)%12 }} PM</div>
            {% elif start_time + j == 12 %}
                <div class="col-sm" class = "timeSlot">{{ (start_time + j) }} PM</div>
            {% else %}
                <div class="col-sm" class = "timeSlot">{{ start_time + j }} AM</div>
            {% endif %}
            {% for day in event_dates %}
                <button class="col" value="{{ day['date'] }},{{ start_time + j }}"></button>
            {% endfor %}
            <div class="w-100"></div>
        {% endfor %}
        </div>
        <p></p>
        <div class = "heading"><h2>Locations</h2></div>
            {% for loc in event_locations %}
                <input type="checkbox" id="{{ loc }}" name="{{ loc }}" value="{{ loc['location'] }}" class = "loc">
                <label for="{{ loc }}">{{ loc['location'] }}</label><br>
            {% endfor %}
    </div>

    <script>

        beforeSubmit = function(){
            let avail_times = '';
            let times = document.querySelectorAll('.col');
            for (let i = 0; i < times.length; i++) {
                if (times[i].style.backgroundColor == 'green') {
                    if (avail_times.length > 0){
                        avail_times = avail_times + ' ' + times[i].value;
                    }
                    else {
                        avail_times = times[i].value;
                    }
                }
            }
            document.getElementById("times").value = avail_times;

            let avail_locs = '';
            let locs = document.querySelectorAll('.loc');
            for (let i = 0; i < locs.length; i++) {
                if (locs[i].checked) {
                    if (avail_locs.length > 0){
                        avail_locs = avail_locs + '`' + locs[i].value;
                    }
                    else {
                        avail_locs = locs[i].value;
                    }
                }
            }
            document.getElementById("locs").value = avail_locs;
          
        }
    </script>
            
    <form action="/schedule" method="post" id="schedule_form"  onsubmit="beforeSubmit()">
        <input type="hidden" name="times" id="times">
        <input type="hidden" name="locs" id="locs">
        <input type="hidden" name="event_id" id="event_id" value="{{ event_id }}">
        <button class="btn btn-primary" type="submit">Confirm</button>
    </form>

{% endblock %}