{% extends "layout.html" %}

{% block title %}
    Create
{% endblock %}

{% block main %}

<script>
    
    document.addEventListener('DOMContentLoaded', function() {
        let dates = document.querySelectorAll('.calendar_date');
        for (let i = 0; i < dates.length; i++) {
            dates[i].addEventListener('click', function() {
                if (dates[i].style.backgroundColor == 'green') {
                    dates[i].style.backgroundColor = '#ffdede';
                }
                
                else {
                    dates[i].style.backgroundColor = 'Green';
                }
            })
        }
    })
</script>

<div class = "availCard">
    <div class="heading"><h2>Create Event</h2></div>
    <p><h3>Search for Month/Year:</h3></p>
<form action="/set_month" method="post">
    <div class="container">
        <div class="row">
            <div class="form-group col-md-6">
            <input autocomplete="off" class="form-control mx-auto" min="1" max="12" name="month" placeholder="Month" type="number" style="float:right; width: 90px;">
            </div>
            <div class="form-group col-md-6">
            <input autocomplete="off" class="form-control mx-auto" name="year" placeholder="Year" type="number" style="float:left; width: 130px;">
            </div>
        </div>
    </div>
        <p></p>
        <button class="btn btn-primary" type="submit">Enter</button>
</form>


<div id="Calendar" style="font-size:14px; margin: 0px auto 0px auto; width: 305px" onselectstart="return false" onmousedown="return false" onmousewheel="wheel">
    <div class = "heading"><h2>{{current_month}} / {{current_year}}</h2></div>
    
    <div id="SpecificDates">
    <div class = "calendar_weekday" id="DayOfWeek-1">Su</div>
    <div class = "calendar_weekday" id="DayOfWeek-2">M</div>
    <div class = "calendar_weekday" id="DayOfWeek-3">T</div>
    <div class = "calendar_weekday" id="DayOfWeek-4">W</div>
    <div class = "calendar_weekday" id="DayOfWeek-5">Th</div>
    <div class = "calendar_weekday" id="DayOfWeek-6">F</div>
    <div class = "calendar_weekday" id="DayOfWeek-7">Sa</div>
    
    
    {% set vars = {'n': False} %}
    {% for j in range(6) %}
        {% for i in range(7) %}
           {% set date = (j*7 + i - current_month_first_weekday)%current_month_num_days + 1 %}
           {% if date == 1 %}
                {% if vars.update({'n': not vars.n}) %} {% endif %}
           {% endif %}
           {% if vars.n %}
                <!-- <button class = "calendar_date" name = "calendar_date" type="submit" onmouseover="javascript:MouseOverDate(j+1,i+1);" onmousedown="javascript:MouseDownDate(j+1,i+1);" id="DateOf-{{ j+1 }}-{{ i+1 }}" value="{{current_year}}-{{current_month}}-{{date}}">{{date}}</button> -->
                <button class = "calendar_date" name = "calendar_date" onmouseover="javascript:MouseOverDate(j+1,i+1);" onmousedown="javascript:MouseDownDate(j+1,i+1);" id="{{current_year}}-{{current_month}}-{{date}}" value="{{current_year}}-{{current_month}}-{{date}}">{{date}}</button>
           {% else %}
                <button class = "calendar_non_date"></button>
           {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
    </div>
    <br clear="all">
    <p>(Max 7 dates)</p>
    <p></p>


<script>
    beforeSubmit = function(){
        let eventdates = '';
        let dates = document.querySelectorAll('.calendar_date');
        for (let i = 0; i < dates.length; i++) {
            if (dates[i].style.backgroundColor == 'green') {
                if (eventdates.length > 0){
                    eventdates = eventdates + ',' + dates[i].value;
                }
                else {
                    eventdates = dates[i].value;
                }
            }
        }
        document.getElementById("dates").value = eventdates;
        $("#create_form").submit();            
    }
</script>
<p><h3>Event Details:</h3></p>
<form action="/create" method="post" id="create_form"  onsubmit="beforeSubmit()">
    <div class = "line">
    <input autocomplete="off" min="1" max="12" name="start_time" placeholder="Start" type="number" style="width: 90px;"> 
    <select name="meridian-start" id="meridian-start">
        <option value="am">AM</option>
        <option value="pm">PM</option></select>
    </div>
    
    <div class = "line">
    <input autocomplete="off" min="1" max="12" name="end_time" placeholder="End" type="number" style="width: 90px;">
    <select name="meridian-end" id="meridian-end">
        <option value="am">AM</option>
        <option value="pm">PM</option></select>
    </div>
    <p></p>
    <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="name" placeholder="Event Name" type="text">
    <p></p>
    <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="loc_1" placeholder="Location 1" type="text">
    <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="loc_2" placeholder="Location 2 (Opt)" type="text">
    <input autocomplete="off" autofocus="" class="form-control mx-auto w-auto" name="loc_3" placeholder="Location 3 (Opt)" type="text">
    <input type="hidden" name="dates" id="dates">
    <p></p>
    <button class="btn btn-primary" type="submit">Confirm</button>
</form>
{% endblock %}
